    /* Recording effect style */
    #start-btn.recording {
        background-color: red; /* Change to red when recording */
        animation: pulse 3s infinite; /* Add a pulsing animation */
    }


    /* Pulsing animation */
    @keyframes pulse {
        0% {
            box-shadow: 0 0 5px red;
        }
        25% {
            box-shadow: 0 0 100px blue;
        }
        50% {
            box-shadow: 0 0 200px blue;
        }
        75% {
            box-shadow: 0 0 400px blue;
        }
        100% {
            box-shadow: 0 0 500px red;
        }
      
    }